<!-- Start Navbar Section -->
<div class="navbar-area">
  <div class="Techsolv-responsive-nav index-navber-responsive">
    <div class="container">
      <div class="Techsolv-responsive-menu">
        <div class="logo">
          <a href="index.html">
            <img
              src="images/logo/black-logo.png"
              class="white-logo"
              alt="logo"
            />
            <img
              src="images/logo/black-logo.png"
              class="black-logo"
              alt="logo"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="Techsolv-nav index-navber">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo/black-logo.png" class="white-logo" alt="logo" />
          <img src="images/logo/black-logo.png" class="black-logo" alt="logo" />
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="services.html" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a
                href="javascript:void(0)"
                class="nav-link"
                id="productsDropdown"
              >
                Our Products <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link dropdown-item" target="_blank" href="https://gymsathi.rockchain.in">Gym Sathi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-item" target="_blank" href="https://hms.rockchain.in">HMS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-item" target="_blank" href="https://adon.rockchain.in">Adon</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
          <div class="other-option">
            <a class="default-btn" href="#0">Get In Touch <span></span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<style>
  /* Mobile MeanMenu dropdown styling override & remove horizontal scrollbar */
  .Techsolv-responsive-nav .Techsolv-responsive-menu.mean-container .navbar-nav {
    max-height: 400px !important;
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .mean-container .mean-nav,
  .mean-container .mean-nav * {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .mean-container .mean-nav .dropdown-menu {
    position: static !important;
    float: left !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: #f8fafc !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: none;
  }

  .mean-container .mean-nav .dropdown-menu li {
    width: 100% !important;
    float: left !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    overflow-x: hidden !important;
  }

  .mean-container .mean-nav .dropdown-menu .dropdown-item,
  .mean-container .mean-nav .dropdown-menu li a {
    width: 100% !important;
    padding: 12px 25px 12px 35px !important;
    color: #555555 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-top: 1px solid #e8f0fe !important;
    background: transparent !important;
    display: block !important;
    float: left !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    transition: all 0.2s ease !important;
  }

  .mean-container .mean-nav .dropdown-menu .dropdown-item:hover,
  .mean-container .mean-nav .dropdown-menu .dropdown-item:focus,
  .mean-container .mean-nav .dropdown-menu li a:hover,
  .mean-container .mean-nav .dropdown-menu li a:focus {
    color: #2563eb !important;
    background-color: #edf4ff !important;
    padding-left: 40px !important;
  }
</style>
<!-- End Navbar Section -->
